<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block bootstrap %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        {% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://cdn.jsdelivr.net/npm/moment@2.20.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/symfony-routing-js@0.0.1/index.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    </head>
    <body>
        {% block top_menu %}
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="/">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">


                            {% if app.user %}
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a href="{{ path('admin') }}" class="nav-link">Admin</a>
                                </li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li class="nav-item">
                                        <a href="{{ path('admin_user_index') }}" class="nav-link">User</a>
                                    </li>
                                {% endif %}
                            </ul>
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a href="/" class="nav-link">{{ app.user.username }}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('logout') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>
                                        Logout </a>
                                </li>
                            </ul>

                            {% else %}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>
                                        Login </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i> Registration</a>
                                </li>
                            </ul>
                            {% endif %}


                        </ul>
                    </div>
                </nav>
            </div>
        {% endblock %}
        {% block body %}{% endblock %}

        {% block javascript %}

            </script>

            <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

            <script src="{{ asset('bundles/sgdatatables/js/pipeline.js') }}"></script>

        {% endblock %}
    </body>
</html>
