{% extends 'base.html.twig' %}

{% block title %}
    Admin
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <a class="btn btn-outline-dark" href="{{ path('admin_new') }}">Create a new article</a>
                <br>
                <br>
                <table class="table">

                    <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>CatId</th>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Slug</th>
                        <th>CreatedAt</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td><a href="{{ path('admin_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
                            <td>{{ article.catId }}</td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.text }}</td>
                            <td>/{{ article.slug }}</td>
                            <td>{% if article.createdAt %}{{ article.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a class="btn btn-outline-secondary" href="{{ path('admin_show', { 'id' : article.id }) }}">show</a>
                                    </li>
                                    <br>
                                    <li>
                                        <a class="btn btn-outline-primary" href="{{ path('admin_edit', { 'id': article.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>



            </div>
        </div>
    </div>
{% endblock %}
